.Attraction {
    width: 120px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.attraction-icon {
    margin-top: 20px;
}

.Attraction h2 {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 0.77;
    text-align: center;
    padding-top: 5px;
}